/* Basic layout */

body 		
{ 
   background-position: top left;
   background-repeat: repeat-y;
	margin: 0px 0px 0px 0px;
	/*bgColor="#49a9e3" */
}
/* new css */
.container {
	width:600px;
    margin: auto;
   /* width: 988px; */
}
/* end new css */
body{
	background-image: url("../../images/bg_form.jpg");
    background-repeat: repeat;
}
.container_outer {
    background-color: #d0d0d0;
    border: 14px solid #d0d0d0;
    border-radius: 12px;
    margin: auto;
    position: relative;
    width: 380px;
}
.container_inner {
    border-radius: 12px;
    width: 380px;
}
.container_top {
   /* background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#1d7543 , #1d7543, #acddc0) repeat scroll 0 0;*/
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#fff , #fff, #fff) repeat scroll 0 0;
    border-radius: 12px 12px 0 0;
    height: 102px;
    line-height: 100px;
    text-align: center;
}
.container_head{
	font:Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}
.frm_txt {
    font-size: 12px;
    font-weight: normal;
}
.white {
    color: #ffffff;
}
.container_bottom {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#1d7543 , #1d7543, #acddc0) repeat scroll 0 0;
    border-radius: 0 0 12px 12px;
	padding-top:20px;
}

.button_login {
    /*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1d7543 , #1d7543, #acddc0) repeat scroll 0 0;*/
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff , #fff, #fff) repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    /*color: #414141;*/
	color: #000;
    padding: 7px 18px;
}

.button_login:hover{
	
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1d7543 , #1d7543, #1d7543) repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    /*color: #414141;*/
	color: #fff;
    padding: 7px 18px;
	cursor:pointer;
}
.msgLoginColor{
	color: #e73c45;
	font-weight:bold;	
}
.bordbottomBlack {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: CCCCCC;
}
.pannelText{
	font-size:10px;
	font-family:Verdana;
	font-weight:bold;
	color:666666
}

/* Fonts */

body, table, td, select, textarea, input  { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

/* Fonts */

a { 
	color: #000000; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

select.flat, textarea.flat, input.flat, 
select.comp, textarea.comp, input.comp,
textarea.code { 
	border-style: solid;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

select.flat, textarea.flat, input.flat,
textarea.code { 
	border-color : #888888;
}
select.comp, textarea.comp, input.comp { 
	border-color : #990000;
}

.indexBorder {
	color: #000000;
	border: 1px solid #000000;
}
.indexSecondBorder {
	color: #CCCCCC;
	border: 2px solid #CCCCCC;
}
.indexText {
	color: #005b90;
	font-size: 20px; 
}
.hostLinkcolor {
	color: #999999;	
}

.linkColor {
	color: #FFFFFF;	
}
/* in header links color like news management*/
.headerLinkColor {
	color: #FFFFFF;	
}
/*left menu white border aroud a row*/
.Adminwhiteborder {
	border: 1px solid #E6E6E6;
	color: #000000;
	
}
/* in admin side left menu background color like related to news all news section menu background color*/
.AdminMenuBackground {
	
	background-color: #CCCCCC;
}
.leftMenuBorder {
	color: #CCCCCC;
	background-color: #005b90;
	border: 1px solid #99C6E2;
	font-weight: bold;
	text-decoration: none;
}



.LeftBorder {
	border: 1px solid #005b90;
}

.bordPanelMainAdmin {
	border-top-width: 1px;
	border-top-color: #99C6E2;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #99C6E2;
	border-left-width: 1px;
	border-left-color: #99C6E2;
	border-right-width: 1px;
	border-right-color: #99C6E2;
}


.bordViewLastMainAdmin {
	border-top-width: 1px;
	border-top-color: #99C6E2;
	border-bottom-width: 1px;
	border-bottom-color: #99C6E2;
	border-left-width: 1px;
	border-left-color: #99C6E2;
	border-right-width: 1px;
	border-right-color: #99C6E2;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
.bordLightBlue {
	border-top-width: 1px;
	border-top-color: #99C6E2;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #99C6E2;
	border-left-width: 1px;
	border-left-color: #99C6E2;
	border-right-width: 1px;
	border-right-color: #99C6E2;
}
.adminDetailHeading {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #99C6E2;
}

.adminDetailHeading {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #99C6E2;
}

.searchText {
	font-weight: bold;
	color: #000000;
	text-decoration: none;		
}

.detailLinkColor {	
	color: blue;
	text-decoration: underline;	
}


.msgColor{
	color: red;
}
/* current admin row color who is login with admin panel*/
.currentAdminColor{
	color: black;
	background-color: #CCCCCC;
}
/* all usres listing color except current login user*/
.otherAdminColor{
	color: black;
	background-color: white;
}

/* users status in create users  that wether its admin or Clerk*/
.createAdminUsersColor{
	color: black;
	font-weight: bold;	
}

.leftArrowColor{
	font-weight: bold;
	color: #000000;
	font-size: 11px; 
}
/*background-color: #99C6E2;*/
/* Custom */