#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
/*	font: bold 11px arial;
*/}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
/*	padding: 4px 10px;
*/	width: 0px;
/*	height: 20px;
*/	
	/*background: #FFF;*/
	color: #222;
	text-align: center;
	text-decoration: none;
/*	border:1px solid #86888B;
*/	
}

#sddm li a:hover
{	
	/*background: #922C8F;
	color:#FFF;
	*/
}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	/*background: #EAEBD8;*/
		filter:alpha(opacity=80);
		-moz-opacity:0.8;
		-khtml-opacity: 0.8;
		opacity: 0.8;

	/*border: 1px solid #5970B2*/
	}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 3px 5px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #FFF;
		color: #222;
		/*font: 11px arial;*/
		/*border:1px solid #CCC;	*/
		
		}

	#sddm div a:hover
	{	
		/*background: #D777D5;
		color: #FFF;*/
	}