
body {
	font-family:"Century Gothic";
	color: #333333;
}
p {
	color: #636363;
}
h2 {
	color: #262323;
	text-align: left;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	color: #403007;
	font-size: 17px;
	font-weight: bold;
}
.row {
	max-width: 1280px;
	margin: 0 auto;
}
hr {
	clear: left;
	margin: 0 15px;
}
a{
	outline:none !important;
	}
/*header*/
.header {
	position: relative;
	padding-bottom:4px;
}
.social{
	right:43px;
	margin-top:5px;
	position:absolute;
	z-index:9999;
	}
.social li{
	float:right;
	list-style:none;
	margin-right:3px;
	}
.social li a{
	display:block;
	width:33px;
	}
.social li a:hover{
	opacity:0.8;
	}
.social li a img{
	width:100%;
	border-radius:4px;
	}
.navbar {
	margin-bottom: 10px;
	margin-top: 63px;
	margin-left: 72px;
	border: none;
	background: #fff;
	min-height:30px !important;
	float:right;
}
.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 16px;
	border: 1px solid #fff;
	color: #030303;
	padding:8px 14px 6px;
}
.navbar-default .navbar-nav > li > a:hover {
	color:#ff7d0f;
	}
.navbar-nav > li {
	margin-right: 0px;
}
.navbar-nav > li:last-child {
	margin-right: 0;
}
.bottom_shadow {
	z-index: 9989;
	position: relative;
	-webkit-box-shadow: 0 0 7px -3px rgb(0, 0, 0);
	-moz-box-shadow: 0 0 7px -3px rgb(0, 0, 0);
	box-shadow: 0 0 7px -3px rgb(0, 0, 0);
}
.navbar-default .navbar-nav > li.active {
	background: none;
	color:#ff7d0f;
}
.navbar-default .navbar-nav > li:hover a {
	color:#ff7d0f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background: none;
	color:#ff7d0f;
}
.logo {
	z-index: 999;
	margin-top: 10px;
}
.logo img {
	width: 100%;
	max-width: 214px;
	margin-left:20px;
}
.lang {
	position: absolute;
	top: 3px;
	right: 72px;
	display: block;
	font-size: 14px;
	color: #515151;
	z-index: 9999999;
	text-transform:uppercase;
}
.container-fluid.banner{
	margin:0;
	padding:0;
	position:relative;
	}
.banner img {
	width: 100%;
}
.banner_title{
	color:#fff;
	position:absolute;
	left:37%;
	top:36px;
	}
.banner_title strong{
	font-size:53px;
	color:#fff;
	font-weight:normal;
	line-height:50px;
	color: rgb(255, 255, 255);
text-shadow: rgb(51, 49, 49) 0px -1px 4px;
	}
.banner_title p{
	font-size:22px;
	color:#fff;
	font-weight:normal;
	text-shadow: rgb(51, 49, 49) 0px -1px 4px;
	}
.appstore_wrap{
	left: 42%;
    position: absolute;
    top: 150px;
    width: 315px;
	}
.appstore_wrap a{
	display:block;
	float:left;
	margin-right: 17px;
    width: 130px;
	}

/*header end*/
/*About us*/
.border_bottom hr {
	border-color: #d2d2d2;
	margin: 0 auto;
	height: 1px;
	clear: left;
	margin: 0 15px;
}
.about_home p {
    font-size: 15px;
    padding-bottom: 2px;
}
.about_home p strong {
	font-size: 17px;
	text-transform: uppercase;
}
.about_home {
	padding-top: 20px;
	padding-bottom: 23px;
}
.title_des{
	padding-top: 20px;
	padding-bottom: 36px;
	}
/*About us end*/
/*Aplications home*/
.bg_grey{
	background: #fafafa;
	border:1px solid #ededed;
	padding:25px 0 70px;
	}
.widget{
	width:235px;
	height:360px;
	float:left;
	background:#fff;
	border:1px solid #ededed;
	padding:63px 20px 57px;
	box-sizing:border-box;
	position:relative;
	padding-top:63px;
	text-align:center;
	margin-right:26px;
	margin-top: 90px;
	}
	
.widget strong{
	text-align:center;
	text-transform:uppercase;
	color:#545453;
	font-size:16px;
	width:100%;
	display:block;
	margin-bottom:10px;
	}
.widget p{
	text-align:justify;
	color:#545453;
	font-size:15px;
	margin-bottom:10px;
	}
.widget a{
	position:absolute;
	left:50%;
	bottom:20px;
	margin-left:-40px;
	color:#ff810e;
	padding:3px 10px;
	font-size:14px;
	text-align:center;
	margin-top:15px;
	display:inline;
	border:1px solid #ff810e;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}
.widget a:hover{
	background:#ff810e;
	color:#fff;
	text-decoration:none;
	}
.outer_w{
	width:105px;
	height:105px;
	position:absolute;
	background:#fff;
	left:50%;
	top:-58px;
	padding:2px;
	margin-left:-49px;
	border:1px solid #efefef;
	-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
	}
span.icon_w{
	width:99px;
	height:99px;
	display:block;
	 padding-top: 22px;
	-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #e8e8e8 100%); 
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#e8e8e8 100%);
background: radial-gradient(ellipse at center, #ffffff 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=1 ); 
	}
/*Aplications home end*/
/*mobile_1*/
.phone_1 .row{
	max-width:1080px;
	}
.mobile_1{
	width:600px;
	float:right;
	position:relative;
	}
.mobile_1 img{
	width:100%;
	}
.phone_1{
	padding:25px 0;
	}
.phone_1 .text{
	position:absolute;
	left:0;
	top:0;
	width:280px;
	text-align:right;
	}
.phone_1 .text strong{
	color:#ff7d0f;
	font-size:17px;
	}
.phone_1 .text p{
	color:#4e4e4e;
	font-size: 14px;
    line-height: 15px;
	}
.phone_1 .text-1{
	top:68px;
	left:-287px;
	}
.phone_1 .text-2 {
    left: -159px;
    top: 157px;
	}
.phone_1 .text-2 strong {
	color:#2681b9;
	}
.phone_1 .text-3 {
    left: -287px;
    top: 257px;
	}
.phone_1 .text-3 strong {
	color:#908042;
	}
.phone_1 .text-4 {
    left: -159px;
    top: 338px;
	}
.phone_1 .text-4 strong {
	color:#0a4a27;
	}
.phone_1 .text-5 {
    left: -287px;
    top: 438px;
	}
.phone_1 .text-5 strong {
	color:#9a272a;
	}
/*mobile_1 end*/
/*mobile_2*/
.phone_2 .row{
	max-width:1080px;
	}
.mobile_2{
	width:606px;
	float:left;
	position:relative;
	padding:30px 0;
	}
.mobile_2 img{
	width:100%;
	}
.phone_1{
	background:#f8f8f8;
	padding:30px 0;
	}
.phone_2 .text p{
	color:#4e4e4e;
	font-size: 14px;
    line-height: 15px;
	}
.phone_2 .text{
	position:absolute;
	right:0;
	top:0;
	width:280px;
	text-align:left;
	}
.phone_2 .text strong{
	color:#ff730f;
	font-size:17px;
	}
.phone_2 .text-1 {
    right: -149px;
    top: 45px;
	}
.phone_2 .text-1 strong {
	color:#ff730f;
	}
.phone_2 .text-2 {
    right: -266px;
    top: 128px;
	}
.phone_2 .text-2 strong {
	color:#2681b9;
	}
.phone_2 .text-3 {
    right: -149px;
    top: 198px;
	}
.phone_2 .text-3 strong {
	color:#908042;
	}
.phone_2 .text-4 {
    right: -266px;
    top: 280px;
	}
.phone_2 .text-4 strong {
	color:#991212;
	}
.phone_2 .text-5 {
    right: -149px;
    top: 353px;
	}
.phone_2 .text-5 strong {
	color:#51716a ;
	}
.phone_2 .text-6 {
    right: -266px;
    top: 423px;
	}
.phone_2 .text-6 strong {
	color:#0a4a27;
	}
/*mobile_2 end*/
/*Posts*/
ul.list{
	margin:0;
	padding:0 0 0 15px;
	}
ul.list li{
	list-style:disc !important;
	color:#7a7a7a;
	line-height:40px;
	}
.post_wrap{
	padding-top:25px;
	margin-bottom: 25px;
	}
.news ul{
	float:left;
	margin:0;
	padding:0;
	border-right:#e5e6e7 solid 1px;
	}
.news li{
	float:left;
	list-style:none;
	background:#f5f5f5;
	margin-bottom:15px;
	padding:15px;
	width:93%;
	}
.news li:last-child{
	margin-bottom:0;
	}
.news li .left{
	float:left;
	width:135px;
	margin-right:25px;
	}
.news li .left img{
	width:100%;
	}
.news li .right strong{
	font-size:15px;
	color:#272727;
	}
.news li .right p{
	font-size:13px;
	color:#7e7e7e;
	}
.date{
	font-size:10px;
	color:#757575;
	}
.download_wrap{
	background:url(../../images/web_images/downloads_img.png) no-repeat center center;
	width:270px;
	height:270px;
	text-align:center;
	padding-top:105px;
	margin-top:65px;
	float:left;
	}
.download_wrap strong{
	color:#7b0404;
	font-size:22px;
	text-align:center;
	display:block;
	}
.download_wrap p{
	color:#ff7c0d;
	font-size:20px;
	text-align:center;
	}
.qr_code{
	width:242px;
	height:242px;
	float:left;
	margin-top:80px;
	margin-left:24px;
	text-align:center;
	font-size:18px;
	}
/*Posts end*/
/*Footer*/
.bg_color_footer {
	background: #333;
	padding: 30px 0;

}
.footer h3 {
	color: #e1dfdd;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 7px;
}
.footer p {
	color: #e1dfdd;
	font-size: 14px;
	line-height: 18px;
}
.copyright p {
	text-align: center;
	color: #727272;
	text-transform: uppercase;
	font-size: 13px;
}
.copyright {
	background: #222222;
	padding: 15px 0 4px;
}
.links ul{
	margin:0;
	padding:0;
		}
.links li{
	float:left;
	width:46%;
	border-bottom:1px dotted #414141;
	height:40px;
	margin-right:4%;
	background:url(../../images/web_images/arrow_icon.jpg) left center no-repeat;
	padding-left:20px;
	}
.links li a{
	width:50%;
	color: #e1dfdd;
	font-size: 14px;
	line-height: 18px;
	line-height:40px;
	}
.links li a:hover{
	text-decoration:none;
	color:#ff7d0f;
	}
.sub_field{
	background:url(../../images/web_images/bg_subscribe.jpg) repeat-x center top;
	border:none;
	border-radius:5px;
	height:28px;
	color:#e1dfdd;
	width:230px;
	font-size:12px;
	padding:5px 10px;
	float:left;
	margin-right:10px;
	text-shadow: 1px 1px #000;
	}
.btn_ft{
	background:url(../../images/web_images/bg_btn.jpg) repeat-x center top;
	border:none;
	border-radius:5px;
	height:27px;
	color:#fff;
	font-size: 15px;
    font-weight:normal;
	text-shadow: 1px 1px #000;
	width:70px;
	font-family: arial;
	font-size: 13px;
	text-transform: uppercase;
	}
h4{
	color:#e1dfdd;
	margin-bottom:15px;
	}
.social_w{
	float:left;
	clear:left;
	margin-top:35px;
	}
.social_w a{
	display:block;
	width:35px;
	height:35px;
	float:left;
	margin-right:10px;
	}
.social_w a img{
	width:100%;
	border-radius:6px;
	opacity:0.8;
	}
.social_w a:hover img{
	width:100%;
	border-radius:6px;
	opacity:1;
	}
/*Footer end*/
/*inner page styles*/
.inner{
	margin-top:30px;
	}

label{
	font-weight:normal;
	font-size:16px;
	color:#6d6c6c;
	}
.regstr_form ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.regstr_form li{
	width:100%;
	float:left;
	clear:left;
	margin-bottom:17px;
	}
.contact_form ul{
	margin:0;
	padding:0;
	list-style:none;
	}
.contact_form li{
	width:100%;
	float:left;
	clear:left;
	margin-bottom:17px;
	}
.contact_form{
	background:#fafafa ;
	margin-top:0;
	padding-top:30px;
	padding-bottom: 10px;
	}
.regstr_form .right,
.regstr_form .left{
	width:47%;
	float:left;
	}
.regstr_form .right{
	float:right;
	}
.regstr_form .first,
.regstr_form .second,
.regstr_form .third{
	width:30%;
	float:left;
	margin-right:5%;
	}
.regstr_form .second,
.regstr_form .third{
	padding-top:27px;
	}
.regstr_form .third{
	margin-right:0;
	}
.regstr_form label{
	color:#6e6e6e;
	font-size:15px;
	}
.form-control{
	background:#fff;
	border:#cacaca solid 1px;
	border-radius:0;
	height:40px;
	}
 .regstr_form .nationality .second,
.regstr_form .nationality .third{
	padding-top:0px;
	}
.button_sbmit{
	text-align:center;
	 margin: 30px 0;
	}
.btn-primary{
	background: #e57b0a none repeat scroll 0 0;
	border: 1px solid #e57b0a;
	font-size: 18px;
	height: 38px;
	text-shadow: 1px 1px #000;
	text-transform: capitalize;
	width: 90px;
	}
.btn-primary:hover{
	background:#9d191d;
	border: 1px solid #9d191d;
	}
	
.btn-login{
	background: #e57b0a none repeat scroll 0 0;
	border: 1px solid #e57b0a;
	font-size: 18px;
	height: 38px;
	text-shadow: 1px 1px #000;
	text-transform: capitalize;
	width: 90px;
	}
.btn-login:hover{
	background:#9d191d;
	border: 1px solid #9d191d;
	}
	
	
	
	
.inner_border{
	border-top:#d4d4d4 1px dotted;
	margin-top:50px;
	}
h3{
	font-size:20px;
	color:#696969;
	}
.adress{
	padding-left:10px;
	margin-top:7px;
	}
.adress strong{
	font-size:15px;
	}
.text_area{
	height:150px !important;
	}
.last{
	margin-right:0;
	}
.tab_wrap_border{
	border-top:1px solid #ededed;
	padding:50px 0;
	}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background:#f8f8f8;
	color:#e57b0a;
	}
.nav-tabs > li > a{
	padding:10px 55px;
	font-size:22px;
	margin-bottom: -2px;
	color:#e57b0a;
	}
.regstr_form{
	background:#f8f8f8;
	border:1px solid #ddd;
	padding:15px;
	float:left;
	width:100%;
	}
.regstr_form h3{
	margin-top:10px;
	margin-bottom:20px;
	font-weight:normal;
	}
.contact_form h3{
	margin-top:10px;
	margin-bottom:20px;
	font-weight:normal;
	}
.nav-tabs{
	border-bottom:0;
	}
.responsive-tabs-container .tab-pane{
	margin-bottom:0;
	}
#login  .button_sbmit{
	margin-top:0;
	}
.inner_title{
	padding:15px 0;
	}
.inner_banner .appstore_wrap{
	top:auto;
	bottom:6px;
	}
.inner_banner .banner_title{
	bottom:50px;
	top:auto;
	}

/*inner page styles end*/
