.mobile{
	display:none;
	}
.mobile_small{
	display:none;
	}
.desktop{
	display:block;
	}

@media (max-width: 1300px) {
.navbar{
	margin-left:0;
	float:right;
	}
.logo img {
    margin-top: 10px;
    max-width: 180px;
    width: 100%;
}
.navbar-default .navbar-nav > li > a{
	font-size:15px;
	}	
.appstore_wrap {
    bottom: 17px;
	top:auto;
	}
.banner_title {
    bottom: 103px;}	
	}
.widget{
	margin-right: 10px;
	margin-left: 10px;
	}
@media (max-width: 1125px) {
.navbar-default .navbar-nav > li > a{
	font-size:14px;
	 padding-left: 8px;
    padding-right: 8px;
	}
.banner_title strong {
    font-size: 47px;
	}
.navbar-nav > li {
	margin-right: 2px;
}
.icon_wrap {
	width: 300px;
	padding: 20px 18px;
}
.messages_w {
	width: 287px;
}
.messages_w img {
	width: 100%;
}
.bx-wrapper {
	max-width: 743px !important;
}
.lang{
	font-size:12px;
	}
}
@media (max-width: 992px) {
.navbar-default .navbar-nav > li > a {
font-size: 13px;
padding-left: 3px;
 padding-right: 3px;	
}
.banner_title strong {
    font-size: 32px;
}
.banner_title p {
    font-size: 16px;	
	}
.navbar {
	margin-top: 35px;
	margin-left: 0;
}
.logo img {
	max-width: 142px;
	margin-left: 0;
}
.logo {
	text-align: center;
	margin-top: 9px;
}
.offer_wrap img {
}
.social_f, .links_f, .contact_f {
	clear: left;
	margin-bottom: 4px;
	float: left;
}
.footer h3 {
	margin-bottom: 10px;
}
.icon_wrap {
	width: 228px;
	padding: 20px 5px;
}
.bx-default-pager {
	width: auto;
	margin: 0;
}
.wrap_c {
	clear: left;
	width: 323px !important;
	margin: 0 auto 12px;
	float: none;
}
.f_about {
	padding-left: 15px !important;
}
.links_f {
	padding-left: 15px;
}
.bx-wrapper {
	max-width: 488px !important;
}
h2{
	font-size:24px;
	}
.news{
    border-right:none;
    float: none;
    margin: 0 auto;
    max-width: 500px;
	display:flow-root;
}
.news ul {
    border-right:none;
}
.download{
	float: none;
    margin: 0 auto;
    max-width: 570px;
	padding-top:15px;
	display:flow-root;
	}
.mobile{
	display:block;
	}
.desktop{
	display:none;
	}
.mobile_1{
	float:none;
    margin: 0 auto;
    position: relative;
    width: 600px;
	}
.phone_1 .text-1 {
    left: 272px;
    text-align: left;
    top: 6px;
}
.phone_1 .text-2 {
    left: 314px;
    text-align: left;
    top: 153px;
}
.phone_1 .text-3 {
    left: -15px;
    top: 874px;
}
.phone_1 .text-4 {
    left: 32px;
    top: 1006px;
}
.phone_1 .text-5 {
    left: 67px;
    top: 1150px;
}
.phone_1 .text{
	width:270px;
	}
.phone_2 .text-1 {
    right: 97px;
    top: 6px;
}
.phone_2 .text-2 {
    right: 38px;
    top: 85px;
}
.phone_2 .text-3 {
    right: -11px;
    top: 153px;
}
.phone_2 .text-4 {
    right: -15px;
    top: 929px;
}
.phone_2 .text-5 {
    right: 41px;
    top: 1040px;
}
.phone_2 .text-6 {
    right: 97px;
    top: 1136px;
}
.phone_2 .text p {
    font-size: 13px;
	}
}
@media (max-width: 769px) {
.lang{
	right:45px;
	}
.row {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.about_home p {
	line-height: 18px;
}
.offer_wrap img {
	margin-bottom: 15px;
}
.offer_wrap {
	text-align: center;
}
h2 {
	font-size: 24px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: #303030;
	border: 1px solid #705819;
}
.navbar-default .navbar-nav > li > a {
	background-image: none;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}
#bs-example-navbar-collapse-1 {
	float: right;
	text-align: right;
}
.logo img {
	min-width: 115px;
}
.icon_wrap {
	float: none;
	margin: 0 auto 20px;
	border: none;
	border-bottom: 1px solid #c1c0c0;
}
.icon_wrap_3 {
	border: 0;
}
.appstore_wrap{
	position:static;
	width:247px;
	float:right;
	margin-top: 22px;
	}
.banner_title {
    position: static;
	float:left;
	margin-left:15px;
	font-size: 26px;
	}
.banner{
	background:#0a4a27;
	}
.appstore_wrap a{
	width:105px;
	}
.navbar-default .navbar-toggle{
	background:#0a4a27 !important;
	}
.social{
	right:40px;
	}
}
@media (max-width: 600px) {
h2{
	font-size:19px;
	}
.about_home p {
    font-size: 14px;
	}
.download{
	max-width:280px;
	}
.download_wrap{
	margin-top: 14px;
	}
.download h2{
	text-align:center;
	}
.qr_code{
	margin:0;
	}
.bg_color_footer{
	margin-top:50px;
	}
.subscribe_W{
	clear:left;
	margin-top:15px;
	float:left;
	width:100%;
	}
.bx-wrapper {
	max-width: 239px !important;
}
.inner h2{
	font-size:20px;
	}
.inner p{
	font-size: 16px;
    line-height: 17px;
}
.mobile_1{
	width:250px;
	}
.phone_1 .text-1 {
    left: 119px;
    text-align: left;
    top: -5px;
}
.phone_1 .text strong {
    font-size: 12px;
}
.phone_1 .text p {
    font-size: 10px;
    line-height: 11px;
}
.phone_1 .text {
    width: 246px;
}
.phone_1 .text-2 {
    left: 131px;
    text-align: left;
    top: 56px;
}
.phone_1 .text-3 {
    left: -141px;
    top: 350px;
}
.phone_1 .text-4 {
    left: -115px;
    top: 410px;
}
.phone_1 .text-5 {
    left: -104px;
    top: 469px;
}
.mobile_2 {
    width: 250px;
}
.phone_2 .text strong {
    font-size: 12px;
}
.phone_2 .text p {
    font-size: 10px;
    line-height: 11px;
}
.phone_2 .text-1 {
    right: -127px;
    top: -14px;
}
.phone_2 .text-2 {
    right: -148px;
    top: 25px;
}
.phone_2 .text-3 {
    right: -168px;
    top: 65px;
}
.phone_2 .text{
	width:278px;
	}
.phone_2 .text-4 {
    right: -168px;
    top: 373px;
}
.phone_2 .text-5 {
    right: -147px;
    top: 415px;
}
.phone_2 .text-6 {
    right: -129px;
    top: 464px;
}
.banner_title strong {
    font-size: 23px;
	line-height:20px;
}
.banner_title p {
    font-size: 13px;
}
.banner_title{
	width:100%;
	text-align:center;
	margin-left:0;
	}
.appstore_wrap {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 233px;
	
}
.appstore_wrap a.google{
	margin-right:0;
	}
.banner{
	padding-bottom:10px !important;
	}
.mobile_small{
	display:block;
	}
.mobile{
	display:none;
	}
.mobile_1 {
    width: 300px;
}
.phone_1 .text-1 {
    left: 66px;
    text-align: left;
    top: 434px;
}
.phone_1 .text-2 {
    left: 66px;
    text-align: left;
    top: 509px;
}
.phone_1 .text-3{
	left: 66px;
    text-align: left;
    top: 583px;
	}
.phone_1 .text-4{
	left: 66px;
    text-align: left;
    top: 657px;
	}
.phone_1 .text-5{
	left: 66px;
    text-align: left;
    top: 734px;
	}
.phone_2 .text-1 {
    left: 63px;
    text-align: left;
    top: 442px;
}
.phone_2 .text-2 {
    left: 63px;
    text-align: left;
    top: 507px;
}
.phone_2 .text-3 {
    left: 63px;
    text-align: left;
    top:569px;
}
.phone_2 .text-4 {
   left: 63px;
    text-align: left;
    top:740px;
}
.phone_2 .text-5 {
   left: 63px;
    text-align: left;
    top: 679px;
}
.phone_2 .text-6 {
   left: 63px;
    text-align: left;
    top:620px;
}
.mobile_2 {
    float: none;
    margin: 0 auto;
    width: 300px;
}
}
@media (max-width: 400px) {
.wrap_c {
	width: 250px !important;
}
.wrap_c img {
	width: 100%;
}
.contact_adrs{
	margin-top:20px;
	}
.mobile_1{
	width:250px;
	}
}
