/* Basic layout */



body 		

{ 

   background-position: top left;

   background-repeat: repeat-y;

	margin: 0px 0px 0px 0px;

}

/* new css */

.container {

    margin:0 auto;

    width: 960px;

}

.container_top {

   /* background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#1d7543 , #1d7543, #acddc0) repeat scroll 0 0;*/

    background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#fff , #fff, #fff) repeat scroll 0 0;

    border-radius: 12px 12px 0 0;

    height: 135px;

    line-height: 100px;

    text-align: center;

	width:960px;

}

.topMenu{

	list-style:none;

	padding-left:0px !important;

} 

.topMenu li{

	float:left;

	height:71px;

}

.submenu{

	float:left; 

	background-color:#000;

	width:960px;

}

.submenu li{

	vertical-algn:middle;

	padding-right:18px;

	padding-left:18px;



}

.submenu li a{

	color:#fff;

	font-family:Arial, Helvetica, sans-serif;

	font-size:15px;

}

.submenu li a:hover{

	color:#acddc0;

	font-family:Arial, Helvetica, sans-serif;

	font-size:15px;

}



.secondTopMenu{

	list-style:none;



}

.secondTopMenu li{

	float:left;

	height:50px;

	padding-top:10px;

}

#sublink{

	color:#1d7543 !important; 

	text-decoration:underline !important;

}

.divfooterMenu{

	/*padding-left:250px;*/ 

}

.footerMenu{

	list-style:none;



}

.footerMenu li{

	float:left;



}

.footerLinkColor{

	font:Arial, Helvetica, sans-serif;

	font-size:14px #000;

	color:#63ca8d;

	font-weight:bold;

	text-align:center;

	text-decoration:underline;

}

#body_container {

    background-color: #eeeeee;

    border: 1px solid #b5b5b5;

    border-radius: 5px;

    box-shadow: 1px 1px 2px 3px #cccccc;

    padding: 8px;

	min-height:650px;

}

#body_container {

    position: relative;

}



#w_left {

    float: left;

    width: 775px;

}

#w_right {

    float: right;

    min-height: 400px;

    width: 180px;

}

#menu_right {

    padding-right: 2px;

    padding-top: 6px;

}











.bordbottomBlack {

	border-bottom-style: solid;

	border-bottom-width: 1px;

	border-bottom-color: CCCCCC;

}

.pannelText{

	font-size:10px;

	font-family:Verdana;

	font-weight:bold;

	color:666666

}



/* Fonts */



body, table, td, select, textarea, input  { 

	font-family: Verdana, Arial, Helvetica, sans-serif; 

	font-size: 11px; 

}



/* Fonts */



a { 

	color: #000000; 

	text-decoration: none; 

}



a:hover { 

	text-decoration: underline; 

}



select.flat, textarea.flat, input.flat, 

select.comp, textarea.comp, input.comp,

textarea.code { 

	border-style: solid;

	border-top-width: 1px; 

	border-right-width: 1px; 

	border-bottom-width: 1px; 

	border-left-width: 1px;

}



select.flat, textarea.flat, input.flat,

textarea.code { 

	border-color : #888888;

}

select.comp, textarea.comp, input.comp { 

	border-color : #990000;

}



.indexBorder {

	color: #000000;

	border: 1px solid #000000;

}

.indexSecondBorder {

	color: #CCCCCC;

	border: 2px solid #CCCCCC;

}

.indexText {

	color: #005b90;

	font-size: 20px; 

}

.hostLinkcolor {

	color: #999999;	

}



.linkColor {

	color: #FFFFFF;	

}

/* in header links color like news management*/

.headerLinkColor {

	color: #FFFFFF;	

}

/*left menu white border aroud a row*/

.Adminwhiteborder {

	border: 1px solid #E6E6E6;

	color: #000000;

	

}

/* in admin side left menu background color like related to news all news section menu background color*/

.AdminMenuBackground {

	

	background-color: #CCCCCC;

}

.leftMenuBorder {

	color: #CCCCCC;

	background-color: #005b90;

	border: 1px solid #99C6E2;

	font-weight: bold;

	text-decoration: none;

}







.LeftBorder {

	border: 1px solid #005b90;

}



.bordPanelMainAdmin {

	border-top-width: 1px;

	border-top-color: #99C6E2;

	border-style: solid;

	border-bottom-width: 1px;

	border-bottom-color: #99C6E2;

	border-left-width: 1px;

	border-left-color: #99C6E2;

	border-right-width: 1px;

	border-right-color: #99C6E2;

}





.bordViewLastMainAdmin {

	border-top-width: 1px;

	border-top-color: #99C6E2;

	border-bottom-width: 1px;

	border-bottom-color: #99C6E2;

	border-left-width: 1px;

	border-left-color: #99C6E2;

	border-right-width: 1px;

	border-right-color: #99C6E2;

	border-top-style: solid;

	border-bottom-style: solid;

	border-left-style: solid;

	border-right-style: solid;

}

.bordLightBlue {

	border-top-width: 1px;

	border-top-color: #99C6E2;

	border-style: solid;

	border-bottom-width: 1px;

	border-bottom-color: #99C6E2;

	border-left-width: 1px;

	border-left-color: #99C6E2;

	border-right-width: 1px;

	border-right-color: #99C6E2;

}

.adminDetailHeading {

	font-weight: bold;

	color: #000000;

	text-decoration: none;

	/*background-color: #99C6E2;*/

	background-color:#acddc0;

}

.footerMenu a:hover{

	color:#1d7543;

	

}

.searchText {

	font-weight: bold;

	color: #000000;

	text-decoration: none;		

}



.detailLinkColor {	

	color: blue;

	text-decoration: underline;	

}

.msgColor{

	color: red;

}

/* current admin row color who is login with admin panel*/

.currentAdminColor{

	color: black;

	background-color: #CCCCCC;

}

/* all usres listing color except current login user*/

.otherAdminColor{

	color: black;

	background-color: white;

}



/* users status in create users  that wether its admin or Clerk*/

.createAdminUsersColor{

	color: black;

	font-weight: bold;	

}



.leftArrowColor{

	font-weight: bold;

	color: #000000;

	font-size: 11px; 

}

/*background-color: #99C6E2;*/



/* Custom */

.lan_ar {

	text-align:right;

	direction:rtl;

	font-size:13px;

	font-family:Tahoma, Geneva, sans-serif;

}

.lan_ar_m {

	margin:0 auto;

	direction:rtl;

	font-size:13px;

	font-family:Tahoma, Geneva, sans-serif;

}

.lan_l_ar {

	text-align:left;

	direction:rtl;

	font-size:13px;

	font-family:Tahoma, Geneva, sans-serif;

}



.lan_r_ar {

	text-align:right;

	direction:rtl;

	font-size:13px;

	font-family:Tahoma, Geneva, sans-serif;

}

.clr_red {

	color:red;

}

.top_heading {

	font-size:13px;

	font-weight:bold;

}

.input_text_ar {

	font-size:13px;

	text-align:right;

	direction:rtl;

	font-family:Tahoma, Geneva, sans-serif;

}

.txt_ar {

	font-family:Tahoma, Geneva, sans-serif;

	font-size:13px;

}

.txt_ar_l {

	float:left;

	text-align:left !important;

}

.copyright{

	float:right; 

	margin-right:20px; 

	color:#63ca8d; 

	font-weight:bold;

	text-decoration:none;	

	

}



.copyright a{

	font:Arial, Helvetica, sans-serif;

	font-size:14px #000;

	color:#63ca8d;

	font-weight:bold;

	text-align:center;

	text-decoration:none;

}



.copyright a:hover{

	color:#1d7543;

	text-decoration:underline;

}

.pass_strength {

	height:3px; 

	width:20px; 

	background-color:#99c6e2; 

	float:left; 

	margin-right:4px	

}